:root {
  --bg-primary: rgb(49, 37, 49);
  --primary-orange: rgb(219, 156, 30);
}
body {
  background-color: var(--bg-primary);
  color: white;
}

.navbar {
  background-color: rgb(49, 43, 50);
}

.jumbotron {
  background-color: var(--bg-primary);
}

.jumbotron {
  padding-top: 4em;
  padding-left: 2em;
  padding-bottom: 8em;
  height: 30em;
}

.jumbotron h1 {
  font-size: 100;
  color: white;
}

.jumbotron .btn {
  background-color: var(--primary-orange);
  color: white;
}

.jumbotron p {
  color: wheat;
}

.jumbotron span {
  font-weight: 500;
}

.jumbotron img {
  position: absolute;
  height: 500px;
  right: 6em;
  top: 2em;
}

.footer {
  width: 100%;
  bottom: 0;
  background-color: rgb(56, 32, 60);
  color: white;
  padding-top: 3em;
  padding-bottom: 2em;
  height: 6em;
  display: flex;
  justify-content: center;
}

.footer a {
  font-weight: bold;
  text-decoration: none;
  color: rgb(187, 187, 187);
}

.footer p {
  font-weight: 200;
  color: rgb(187, 187, 187);
}

/* Slider */

.slider {
  max-width: 80rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.084);
  font-family: inherit;
  color: white;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #434343;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--primary-orange);
  z-index: -1;
}

.testimonial__header {
  color: white;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.2rem;
  margin-bottom: 3.5rem;
  color: rgb(193, 193, 193);
}

.testimonial__author {
  margin-left: 2rem;
  font-style: normal;
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  color: var(--primary-orange);
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  color: var(--primary-orange);
  opacity: 70%;
  font-size: 1.5rem;
}

.speakers__title--testimonials {
  margin-bottom: 4rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about p {
  max-width: 40rem;
}

.about h1 {
  font-size: 6rem;
  color: var(--primary-orange);
  font-weight: bolder;
  margin-bottom: 2rem;
}

.about .description {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.speaker-title {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: -8rem;
  color: var(--primary-orange);
}

.speaker-title h1 {
  font-weight: bolder;
  font-size: 4rem;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register h1 {
  color: var(--primary-orange);
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.register form {
  width: 40rem;
  max-width: 80vw;
  margin-bottom: 4rem;
}

.register button {
  background-color: var(--primary-orange);
  color: white;
}

.jumbotron a {
  text-decoration: none;
  color: wheat;
}

.jumbotron h6 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 1280px) {
  .jumbotron {
    padding-bottom: 2 em;
  }
  .jumbotron img {
    display: none;
  }
  .jumbotron h1 {
    font-size: 60;
  }

  .about {
    padding: 2rem -2rem;
  }

  .about h1 {
    font-size: 2rem;
  }

  .speaker-title h1 {
    font-weight: bolder;
    font-size: 4rem;
  }
  .speaker-title {
    margin-top: -1rem;
    margin-bottom: -8rem;
    padding: 2rem;
  }

  .slider {
    padding: 0rem 2rem;
  }

  .testimonial p {
    font-size: 1rem;
  }
  .testimonial__header {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .testimonial__text {
    font-size: 1rem;
    margin-bottom: 3.5rem;
    color: rgb(193, 193, 193);
  }
}
